body {
    margin: 0px;
}

.dashboard-container{
    margin: 0px auto;
    padding: 2.5%;
    background-color: #D3D3D3;
    width: 100vw;
    height: 100vh;
}

#header {
    position: relative;
    text-align: center;
}
#logo {
    size: 100%;
    position: relative;
    display: inline;
}

.clock-in {
    background-color: white; 
    border: 2px solid #4CAF50;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.7s ;
    cursor: pointer;
}
.clock-in:hover {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
