body {
    height: 100%;
    margin: 0;
}


.login-container {
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    height: 100vh;
    width: 100vw;
}


.form-wrapper {
    background: #333333;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    border: 2px solid #333333;
    border-radius: 1.3em;
    z-index: 1;
    box-shadow: 1px #000000;
}
#logo {
    max-height: 100%;
    max-width: 100%;
}
#form {
    position: relative;
    display: grid;
    row-gap: 5%;
    border-radius: 2em;
    margin: 0 auto;
    color: #ffffff;
    justify-content: center;
    justify-items: center;
    text-align: center;
    flex-direction: column;
}

#values {
    position: relative;
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #ffffff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
}

#valuesSub {
    position: relative;
    background-color: #1F772B; 
    border: 2px solid #121212;
    border-radius: 2rem;
    color: #ffffff;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.7s ;
    transition: 0.2s ease-in-out;
    
}

#valuesSub:hover {
    border-color: #ffffff;
    cursor: pointer;
}

