.login-container {
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}

.login-wrapper {
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.form-cointainer {
    position: relative;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form {
    position: relative;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

#values {
  position: relative;
  width: 50%;
  padding: 1.3% 1.3%;
  margin: 8px 0;
  transition: width 0.4s ease-in-out;
}

